body{
  background-image:url(https://images.unsplash.com/photo-1543157145-f78c636d023d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80);
  background-position:center:
  background-repeat:no-repeat;
  background-attachment:fixed, scroll;
  background-size:cover;
  font-family:"Georgia";
}
.container #nav{
  position:static;
  text-align:center;
  right:none;
  padding:30px;  
}
#nav>ul>li{
  color:#f7c6d5;
  font-size:30px;
  display:inline-block;
  padding:8px;
  line-height:1.5em;
  background:rgba(110, 2, 11,0.4);
  border-radius: 0%;
}
#nav>ul>li a{
  font-size:30px;
  display:inline-block;
  padding:12px;
  line-height:1.5em;
  text-decoration:none;
}
a{
  color:#f7c6d5;
  display:inline-block;
  padding:12px;
  line-height:3.5em;
  text-align:center;
  text-transform:uppercase;
}
a:hover{
  color:#fff;
  letter-spacing:-2px;
  text-transform:lowercase;
}
#block{
  background-color:rgba(237, 130, 162, 0.2);
  padding:60px 0px;
}
h2{
  font-size:30px;
  font-family:"Georgia";
  text-align:center;
  color:#bd515a;
}
h1{
  margin-left:15.0em;
  padding:30px 30px;
  color:#bd515a;
}
h3{
  color:#bd515a;
  font-family:"Georgia";
  font-size:25px;
  letter-spacing:1px;
  text-transform:uppercase;
}
img{
  height:270px;
  width:290px;
  object-position:40px;
  margin-left:31.5em;
}
#content h3{
  text-align:center;
  font-size:50px;
  line-height:80px;
  padding:30px auto;
  margin:0px auto;
}
p{
  color:#993250;
  font-family:"Georgia";
  font-size:25px;
  padding:30px 60px;
  margin:30px 60px;
  text-align:center;
}
#section2{
  text-align:center;
}
#section3{
  font-size:20px;
  text-align:justify;
  color:#993250;
}
#section3 h3{
  font-size:30px;
}
#section3 > ul> li{
  list-style-type:none;
  text-align:center;
  color:#993250;
}
#section5 a{
  color:#bd515a;
}
#section5 a:hover{
  color:#fff;
}
#banner {
  font-size:20px;
  text-align:center;
}
#banner p{
  font-size:25px;
}
#footer{
  text-align:center;
}
#footer a{
  font-size:30px;  
  text-align:center;
  background:rgba(110, 2, 11,0.4);
  border-radius:50%;
}
